@charset "utf-8";
$bigwidth:100%;
$mainwidth:1200px; //主内容宽
$l-s:list-style; //去除列表符号
$n:none;
$b:block;
$f:flex; //设置弹性盒
$t-d:text-decoration; //去除a标签下划线
$j-c:justify-content; //主轴的对齐方式
$a-i:align-items; //侧轴的对齐方式
$a-c:align-content; //行与行的排列方式
@mixin display($value) {
    display: $value;
}

@mixin background-color ($value) {
    background-color: $value;
}

@mixin borderstyle($style, $size, $color) {
    border: $style $size $color;
} //设置边框样式
@mixin positionleft($value, $left, $top) {
    position: $value;
    left: $left;
    top: $top;
} //定位左上
@mixin positionright($value, $right, $bottom) {
    position: $value;
    right: $right;
    bottom: $bottom;
} //定位右下
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

// 广告
.banner {
    width: $bigwidth;
    height: 430px;
    @include background-color(#f7f7f7);
    // 广告主部分
    .main_banner {
        width: $mainwidth;
        height: 430px;
        margin: 0 auto;
        // 广告左部分
        .left {
            width: 230px;
            height: 430px;
            @include background-color(#323436);
            float: left;
            li:nth-of-type(1) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    width: 133px;
                    height: 45px;
                    margin-top: 1px;
                    line-height: 45px;
                    @include display(inline-block);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png)193px center no-repeat;
                    color: #fff;
                    font-size: 16px;
                    padding: 0 40px 0 55px;
                    #{$t-d}: $n;
                    position: relative;
                    vertical-align: baseline;
                    .onebefore_picture {
                        width: 12px;
                        height: 16px;
                        @include positionleft(absolute, 31px, 18px);
                        @include display($b);
                        background-position: 0 0;
                        background: url(../img/图片.png)0 0 no-repeat;
                        vertical-align: baseline;
                        font-size: 100%;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(2) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    width: 133px;
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    @include display(inline-block);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    .twobefore_picture {
                        width: 12px;
                        height: 16px;
                        background-position: 0 0;
                        @include positionleft(absolute, 31px, 18px);
                        @include display($b);
                        background: url(../img/图片.png) 0 0 no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(3) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    width: 133px;
                    height: 45px;
                    margin-top: 1px;
                    line-height: 45px;
                    @include display(inline-block);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .threebefore_picture {
                        width: 15px;
                        height: 15px;
                        @include positionleft(absolute, 29px, 18px);
                        @include display($b);
                        background: url(../img/图片.png) 0 -17px no-repeat;
                        font-size: 100%;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(4) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    @include display(inline-block);
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .fourbefore_picture {
                        width: 12px;
                        height: 16px;
                        @include positionleft(absolute, 31px, 18px);
                        @include display($b);
                        background: url(../img/图片.png) 0 -33px no-repeat;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(5) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    width: 133px;
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    @include display(inline-block);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .fivebefore_picture {
                        width: 12px;
                        height: 16px;
                        @include positionleft(absolute, 31px, 18px);
                        @include display($b);
                        background: url(../img/图片.png) 0 -67px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(6) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    @include display(inline-block);
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .sixbefore_picture {
                        width: 19px;
                        height: 16px;
                        @include positionleft(absolute, 28px, 16px);
                        @include display($b);
                        background: url(../img/图片.png) 0 -84px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(7) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    @include display(inline-block);
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .sevenbefore_picture {
                        width: 16px;
                        height: 16px;
                        @include positionleft(absolute, 28px, 18px);
                        @include display($b);
                        background: url(../img/图片.png) 0 -101px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(8) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    @include display(inline-block);
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .eightbefore_picture {
                        width: 16px;
                        height: 16px;
                        @include positionleft(absolute, 28px, 18px);
                        @include display($b);
                        background: url(../img/图片.png) 0 -118px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(9) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    @include display(inline-block);
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .ninebefore_picture {
                        width: 12px;
                        height: 16px;
                        @include positionleft(absolute, 31px, 18px);
                        @include display($b);
                        background: url(../img/图片.png) 0 -135px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
        }
        // 广告右部分
        .right {
            float: left;
            width: 970px;
            height: 430px;
            overflow: hidden;
            position: relative;
            ul {
                width: 4850px;
                height: 430px;
                position: relative;
                li {
                    float: left;
                    #{$l-s}: $n;
                    img {
                        width: 970px;
                        height: 430px;
                        cursor: pointer;
                    }
                }
            }
            // 左箭头
            .leftarrows {
                width: 46px;
                height: 70px;
                @include positionleft(absolute, 0, 50%);
                margin-top: -35px;
                background: url(../img/图片3.png)no-repeat;
                background-position: 0 -279px;
            }
            .leftarrows:hover {
                background-position: 0 -379px;
                cursor: pointer;
            }
            // 右箭头
            .rightarrows {
                width: 46px;
                height: 70px;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -35px;
                background: url(../img/图片3.png)no-repeat;
                background-position: 0 -479px;
            }
            .rightarrows:hover {
                background-position: 0 -579px;
                cursor: pointer;
            }
            // 圆点
            .dot {
                width: 200px;
                @include positionleft(absolute, 428px, 388px);
                a {
                    width: 12px;
                    height: 12px;
                    margin: 0 8px;
                    #{$t-d}: $n;
                    @include display($b);
                    float: left;
                    background: url(../img/图片3.png)no-repeat;
                    background-position: 0 -41px;
                }
                a:hover {
                    background-position: 0 -83px;
                }
            }
        }
    }
}