@charset "utf-8";
$bigwidth:100%;
$mainwidth:1200px; //主内容宽
$l-s:list-style; //去除列表符号
$n:none;
$b:block;
$f:flex; //设置弹性盒
$t-d:text-decoration; //去除a标签下划线
$j-c:justify-content; //主轴的对齐方式
$a-i:align-items; //侧轴的对齐方式
$a-c:align-content; //行与行的排列方式
@mixin display($value) {
    display: $value;
}

@mixin background-color ($value) {
    background-color: $value;
}

@mixin borderstyle($style, $size, $color) {
    border: $style $size $color;
} //设置边框样式
@mixin positionleft($value, $left, $top) {
    position: $value;
    left: $left;
    top: $top;
} //定位左上
@mixin positionright($value, $right, $bottom) {
    position: $value;
    right: $right;
    bottom: $bottom;
} //定位右下
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

// 头部
.header {
    width: $bigwidth;
    height: 144px;
    @include display($f);
    flex-direction: column;
    // 顶部应用栏
    .topbar {
        width: $bigwidth;
        height: 44px;
        @include display($f);
        @include background-color(#323436);
        flex-direction: row;
        // 顶部主部分
        .main_topbar {
            width: $mainwidth;
            height: 44px;
            line-height: 44px;
            @include display($f);
            margin: 0 auto;
            flex-direction: row;
            // 主部分左
            .topbar_left {
                @include display($f);
                flex-direction: row;
                a {
                    #{$t-d}: $n;
                    color: #989898;
                    padding: 0 19px;
                }
                a:hover {
                    color: white;
                }
            }
            // 主部分右
            .topbar_right {
                width: 154px;
                margin-left: 10px;
                background-color: #000;
                @include display($f);
                flex-direction: row;
                #{$a-i}: center;
                i {
                    margin-right: 15px;
                    margin-left: 15px;
                    width: 21px;
                    height: 16px;
                    display: $b;
                    background: url(../img/图片.png) -50px 0 no-repeat;
                }
                a {
                    #{$t-d}: $n;
                    color: #989898;
                    span {
                        color: orange;
                    }
                }
            }
        }
    }
    // 顶部导航栏
    .topnav {
        width: $bigwidth;
        height: 100px;
        @include display($f);
        @include background-color(#fff);
        flex-direction: row;
        // 顶部导航栏主部分 
        .main_topnav {
            width: $mainwidth;
            height: 100px;
            line-height: 100px;
            @include display($f);
            margin: 0 auto;
            flex-direction: row;
            // 免商店logo
            .logo {
                @include display($f);
                #{$a-i}: center;
            }
            .logo:hover {
                cursor: pointer;
            }
            // 主部分的列表
            .list {
                width: 950px;
                height: 100px;
                @include display($f);
                flex-direction: row;
                padding-left: 110px;
                li {
                    width: 140px;
                    height: 100px;
                    line-height: 100px;
                    #{$l-s}: $n;
                    text-align: center;
                    font-size: 20px;
                }
                li:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// 箭头
.switch {
    width: 16px;
    height: 40px;
    background: url(../img/图片2.png)no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 0px;
    top: 50%;
    margin-top: -20px;
    background-position: -84px -760px;
}

// 箭头hover时侧边栏显示
.switch:hover {
    .sidebar {
        display: $b;
    }
    width: 16px;
    height: 40px;
    background: url(../img/图片2.png)no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 45px;
    top: 50%;
    background-position: -55px -760px;
}

// 侧边栏
.sidebar {
    width: 45px;
    height: 100%;
    @include background-color(#e0e0e0);
    @include positionright(fixed, 0, 0);
    display: $n;
    .forum {
        width: 45px;
        height: 75px;
        background: url(../img/图片2.png)no-repeat;
        position: absolute;
        cursor: pointer;
        top: 320px;
        left: 0;
        background-position: -55px -152px;
    }
    .service {
        width: 45px;
        height: 75px;
        background: url(../img/图片2.png) no-repeat;
        position: absolute;
        cursor: pointer;
        top: 395px;
        left: 0;
        background-position: -55px -304px;
    }
    .share {
        width: 45px;
        height: 75px;
        background: url(../img/图片2.png)no-repeat;
        position: absolute;
        cursor: pointer;
        bottom: 170px;
        background-position: 0px -947px;
    }
    .feedback {
        width: 45px;
        height: 75px;
        background: url(../img/图片2.png)no-repeat;
        position: absolute;
        cursor: pointer;
        bottom: 95px;
        right: 0;
        background-position: -55px -456px;
    }
    .top {
        width: 45px;
        height: 75px;
        background: url(../img/图片2.png)no-repeat;
        position: absolute;
        cursor: pointer;
        bottom: 30px;
        background-position: -55px -608px;
    }
    .forum:hover {
        background: url(../img/图片2.png)no-repeat;
        background-position: -55px -228px;
    }
    .service:hover {
        background: url(../img/图片2.png)no-repeat;
        background-position: -55px -380px;
    }
    .share:hover {
        background: url(../img/图片2.png)no-repeat;
        background-position: -55px -947px;
    }
    .feedback:hover {
        background: url(../img/图片2.png)no-repeat;
        background-position: -55px -532px;
    }
    .top:hover {
        background: url(../img/图片2.png)no-repeat;
        background-position: -55px -684px;
    }
}

// 广告
.banner {
    width: $bigwidth;
    height: 430px;
    background-color: #f7f7f7;
    // 广告主部分
    .main_banner {
        width: $mainwidth;
        height: 430px;
        margin: 0 auto;
        // 广告左部分
        .left {
            width: 230px;
            height: 430px;
            background-color: #323436;
            float: left;
            li:nth-of-type(1) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png)193px center no-repeat;
                    color: #fff;
                    font-size: 16px;
                    padding: 0 40px 0 55px;
                    #{$t-d}: $n;
                    position: relative;
                    vertical-align: baseline;
                    .onebefore_picture {
                        width: 12px;
                        height: 16px;
                        left: 31px;
                        top: 18px;
                        position: absolute;
                        display: $b;
                        background-position: 0 0;
                        background: url(../img/图片.png)0 0 no-repeat;
                        vertical-align: baseline;
                        font-size: 100%;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(2) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    .twobefore_picture {
                        width: 12px;
                        height: 16px;
                        background-position: 0 0;
                        left: 31px;
                        top: 18px;
                        display: $b;
                        position: absolute;
                        background: url(../img/图片.png) 0 0 no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(3) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .threebefore_picture {
                        width: 15px;
                        height: 15px;
                        left: 29px;
                        top: 18px;
                        display: block;
                        position: absolute;
                        background: url(../img/图片.png) 0 -17px no-repeat;
                        font-size: 100%;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(4) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .fourbefore_picture {
                        width: 12px;
                        height: 16px;
                        left: 31px;
                        top: 18px;
                        display: $b;
                        position: absolute;
                        background: url(../img/图片.png) 0 -33px no-repeat;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(5) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .fivebefore_picture {
                        width: 12px;
                        height: 16px;
                        left: 31px;
                        top: 18px;
                        display: $b;
                        position: absolute;
                        background: url(../img/图片.png) 0 -67px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(6) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .sixbefore_picture {
                        width: 19px;
                        height: 16px;
                        left: 28px;
                        top: 16px;
                        display: $b;
                        position: absolute;
                        background: url(../img/图片.png) 0 -84px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(7) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .sevenbefore_picture {
                        width: 16px;
                        height: 16px;
                        left: 28px;
                        top: 18px;
                        display: $b;
                        position: absolute;
                        background: url(../img/图片.png) 0 -101px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(8) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .eightbefore_picture {
                        width: 16px;
                        height: 16px;
                        left: 28px;
                        top: 18px;
                        display: $b;
                        position: absolute;
                        background: url(../img/图片.png) 0 -118px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
            li:nth-of-type(9) {
                position: relative;
                #{$l-s}: $n;
                width: 230px;
                height: 47px;
                a {
                    margin-top: 1px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    width: 133px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background: url(../img/右箭头.png) 193px center no-repeat;
                    padding: 0 40px 0 55px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;
                    #{$t-d}: $n;
                    vertical-align: baseline;
                    .ninebefore_picture {
                        width: 12px;
                        height: 16px;
                        left: 31px;
                        top: 18px;
                        display: $b;
                        position: absolute;
                        background: url(../img/图片.png) 0 -135px no-repeat;
                        font-size: 100%;
                        vertical-align: baseline;
                        white-space: nowrap;
                    }
                }
            }
        }
        // 广告右部分
        .right {
            float: left;
            width: 970px;
            height: 430px;
            img {
                font-size: 100%;
            }
        }
    }
}

// 人气单品
.rqdp {
    width: $bigwidth;
    height: 254px;
    background-color: white;
    .main_rqdp {
        width: $mainwidth;
        height: 234px;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 20px;
        position: relative;
        .one {
            width: 260px;
            float: left;
            font-size: 16px;
            text-align: center;
            display: $b;
            img {
                width: 164px;
                height: 164px;
                border: $n;
                font-size: 100%;
                cursor: pointer;
            }
            .one_name {
                color: #000;
                text-align: center;
                padding-top: 10px;
            }
            .one_name:hover {
                color: #f86a00;
                cursor: pointer;
            }
            .one_price {
                color: #f86a00;
                text-align: center;
                font-size: 100%;
                vertical-align: baseline;
            }
        }
        .two {
            width: 260px;
            float: left;
            font-size: 16px;
            text-align: center;
            display: $b;
            img {
                width: 164px;
                height: 164px;
                border: $n;
                font-size: 100%;
            }
            .two_name {
                color: #000;
                text-align: center;
                padding-top: 10px;
            }
            .two_name:hover {
                color: #f86a00;
                cursor: pointer;
            }
            .two_price {
                color: #f86a00;
                text-align: center;
                font-size: 100%;
                vertical-align: baseline;
            }
        }
        .three {
            width: 260px;
            float: left;
            font-size: 16px;
            text-align: center;
            display: $b;
            img {
                width: 164px;
                height: 164px;
                border: $n;
                font-size: 100%;
            }
            .three_name {
                color: #000;
                text-align: center;
                padding-top: 10px;
            }
            .three_name:hover {
                color: #f86a00;
                cursor: pointer;
            }
            .three_price {
                color: #f86a00;
                text-align: center;
                font-size: 100%;
                vertical-align: baseline;
            }
        }
        .four {
            width: 260px;
            float: left;
            font-size: 16px;
            text-align: center;
            display: $b;
            img {
                width: 164px;
                height: 164px;
                border: $n;
                font-size: 100%;
            }
            .four_name {
                color: #000;
                text-align: center;
                padding-top: 10px;
            }
            .four_name:hover {
                color: #f86a00;
                cursor: pointer;
            }
            .four_price {
                color: #f86a00;
                text-align: center;
                font-size: 100%;
                vertical-align: baseline;
            }
        }
        .five {
            width: 160px;
            float: left;
            font-size: 16px;
            text-align: center;
            display: $b;
            // img {
            //     border: $n;
            //     font-size: 100%;
            // }
            span {
                color: #fff;
                font-size: 26px;
                position: absolute;
                line-height: 1.4;
                right: 70px;
                top: 30px;
                vertical-align: baseline;
            }
        }
    }
}

// 游戏道具
.yxdj {
    width: $bigwidth;
    height: 485.6px;
    background-color: red;
}

// 蜗牛手机卡
.wnsjk {
    width: $bigwidth;
    height: 449.6px;
    background-color: green;
}

// 蜗牛国际手机卡
.wngjsjk {
    width: $bigwidth;
    height: 449.6px;
    background-color: yellow;
}

// 应用
.apply {
    width: $bigwidth;
    height: 540px;
    background-color: orange;
}

// 底部
.footer {
    width: $bigwidth;
    height: 597.4px;
    background-color: blueviolet;
}