@charset "utf-8";
$bigwidth:100%;
$mainwidth:1200px; //主内容宽
$l-s:list-style; //去除列表符号
$n:none;
$b:block;
$f:flex; //设置弹性盒
$t-d:text-decoration; //去除a标签下划线
$j-c:justify-content; //主轴的对齐方式
$a-i:align-items; //侧轴的对齐方式
$a-c:align-content; //行与行的排列方式
@mixin display($value) {
    display: $value;
}

@mixin background-color ($value) {
    background-color: $value;
}

@mixin borderstyle($style, $size, $color) {
    border: $style $size $color;
} //设置边框样式
@mixin positionleft($value, $left, $top) {
    position: $value;
    left: $left;
    top: $top;
} //定位左上
@mixin positionright($value, $right, $bottom) {
    position: $value;
    right: $right;
    bottom: $bottom;
} //定位右下
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

// nav
.commodity_nav {
    width: $bigwidth;
    @include background-color(#ff7f00);
    .nav_list {
        width: $mainwidth;
        height: 50px;
        margin: 0 auto;
        position: relative;
        .nav_item {
            width: 210px;
            height: 50px;
            float: left;
            #{$l-s}: $n;
            a {
                @include display($b);
                width: 246px;
                height: 50px;
                line-height: 50px;
                color: #fff;
                font-size: 18px;
                #{$t-d}: $n;
                text-align: center;
            }
        }
        .nav_item:nth-of-type(2) {
            @include background-color(#ffa21f);
        }
        .nav_item:hover {
            @include background-color(#ffa21f);
        }
    }
}

// 全部商品
.sale_all {
    width: $mainwidth;
    margin: 0 auto;
    // 头
    .sale_title {
        height: 55px;
        line-height: 55px;
        color: #333;
        h3 {
            float: left;
        }
    }
    // 渲染列表页
    .sale_allitems {
        width: $mainwidth;
        height: 1464px;
        .sale_item {
            width: 286px;
            @include borderstyle(1px, solid, #e6e6e6);
            @include background-color(#fff);
            margin-bottom: 16px;
            margin-right: 16px;
            float: left;
            a {
                width: 286px;
                height: 265px;
                overflow: hidden;
                @include display($b);
                #{$t-d}: $n;
                img {
                    width: 265px;
                    margin: 0 auto;
                    @include display($b);
                }
                img:hover {
                    transform: translateX(-8px);
                    transition: .1s;
                }
            }
            .sale_info {
                height: 82px;
                line-height: 82px;
                border-top: 1px dashed #e6e6e6;
                @include display($b);
                padding: 0 20px;
                .sale_name {
                    width: 165px;
                    color: #20232c;
                    float: left;
                    font-size: 16px;
                    overflow: hidden;
                }
                .sale_price {
                    font-size: 16px;
                    float: right;
                    color: #ff7f00;
                }
            }
        }
    }
    // 分页
    .paging {
        width: $mainwidth;
        height: 26px;
        margin: 20px auto;
        overflow: hidden;
        text-align: center;
        .previous_page {
            @include background-color(#ffffff);
            @include borderstyle(1px, solid, #D7d7d7);
            cursor: not-allowed;
            color: #666;
            height: 24px;
            margin: 0 5px;
            width: 24px;
            color: #fff;
            font: 16px/24px "å¾®è½¯é›…é»‘";
            background: url(../img/图片4.png) no-repeat center -233px;
        }
        .current {
            color: #f77f00;
            @include display(inline-block);
            height: 24px;
            width: 24px;
            margin: 0 5px;
            text-align: center;
        }
        em {
            font: inherit;
            .page_num {
                width: 24px;
                height: 24px;
                margin: 0 5px;
                color: #666;
                font: 16px/24px "å¾®è½¯é›…é»‘";
                text-align: center;
                #{$t-d}: $n;
                @include display(inline-block);
            }
        }
        .next {
            @include background-color(#ffffff);
            @include borderstyle(1px, solid, #D7d7d7);
            color: #666;
            height: 24px;
            margin: 0 5px;
            width: 24px;
            color: #fff;
            font: 16px/24px "å¾®è½¯é›…é»‘";
            background: url(../img/图片4.png) no-repeat center -263px;
        }
    }
}