@charset "utf-8";
// $bigwidth:100%;
// $mainwidth:1200px; //主内容宽
// $l-s:list-style; //去除列表符号
// $n:none;
// $b:block;
// $f:flex; //设置弹性盒
// $t-d:text-decoration; //去除a标签下划线
// $j-c:justify-content; //主轴的对齐方式
// $a-i:align-items; //侧轴的对齐方式
// $a-c:align-content; //行与行的排列方式
// @mixin display($value) {
//     display: $value;
// }
// @mixin background-color ($value) {
//     background-color: $value;
// }
// @mixin borderstyle($style, $size, $color) {
//     border: $style $size $color;
// } //设置边框样式
// @mixin positionleft($value, $left, $top) {
//     position: $value;
//     left: $left;
//     top: $top;
// } //定位左上
// @mixin positionright($value, $right, $bottom) {
//     position: $value;
//     right: $right;
//     bottom: $bottom;
// } //定位右下
// * {
//     margin: 0;
//     padding: 0;
// }
// html {
//     position: relative;
// }
// 箭头
.switch {
    width: 16px;
    height: 40px;
    background: url(../img/图片2.png)no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 0px;
    top: 50%;
    margin-top: -20px;
    background-position: -84px -760px;
}

// 箭头hover时侧边栏显示
.switch:hover {
    .sidebar {
        display: $b;
    }
    width: 16px;
    height: 40px;
    background: url(../img/图片2.png)no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 45px;
    top: 50%;
    background-position: -55px -760px;
}