@charset "utf-8";
$bigwidth:100%;
$mainwidth:1200px; //主内容宽
$l-s:list-style; //去除列表符号
$n:none;
$b:block;
$f:flex; //设置弹性盒
$t-d:text-decoration; //去除a标签下划线
$j-c:justify-content; //主轴的对齐方式
$a-i:align-items; //侧轴的对齐方式
$a-c:align-content; //行与行的排列方式
@mixin display($value) {
    display: $value;
}

@mixin background-color ($value) {
    background-color: $value;
}

@mixin borderstyle($style, $size, $color) {
    border: $style $size $color;
} //设置边框样式
@mixin positionleft($value, $left, $top) {
    position: $value;
    left: $left;
    top: $top;
} //定位左上
@mixin positionright($value, $right, $bottom) {
    position: $value;
    right: $right;
    bottom: $bottom;
} //定位右下
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

// 蜗牛国际手机卡
.wngjsjk {
    width: $bigwidth;
    height: 479.6px;
    @include background-color(#f7f7f7);
    // 蜗牛国际手机卡主部分
    .main_wngjsjk {
        width: $mainwidth;
        height: 479.6px;
        padding-top: 30px;
        margin: 0 auto;
        padding-bottom: 40px;
        font-size: 100%;
        @include background-color(#f7f7f7);
        // 蜗牛国际手机卡标题
        .wngjsjk_title {
            height: 29.6px;
            margin-bottom: 20px;
            h1 {
                font-size: 20px;
                color: #303030;
                float: left;
                @include display($b);
            }
            .twomore {
                float: right;
                font-size: 14px;
                color: #999;
                padding-right: 29px;
                position: relative;
                line-height: 30px;
                #{$t-d}: $n;
                span {
                    width: 19px;
                    height: 11px;
                    background: url(../img/图片3.png);
                    background-position: 0 0;
                    position: absolute;
                    top: 9px;
                    right: 0;
                }
            }
            .twomore:hover {
                color: #ff9500;
            }
        }
    }
    // 蜗牛国际手机卡套餐
    .wngjsjk_setmeal {
        width: $mainwidth;
        height: 360px;
        margin-top: 16px;
        position: relative;
        overflow: hidden;
        @include background-color(#f7f7f7);
        // 泰国卡
        .thailand {
            width: 227px;
            height: 360px;
            float: left;
            margin-right: 16px;
            text-align: center;
            @include background-color(#fff);
        }
        // 马来西亚卡
        .malaysia {
            width: 225px;
            height: 358px;
            float: left;
            margin-right: 16px;
            @include borderstyle(1px, solid, #fff);
            text-align: center;
            @include background-color(#fff);
            .malaysia_name {
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 8px;
                margin-left: 30px;
                line-height: 1;
            }
            .malaysia_content {
                font-size: 14px;
                color: #999;
                line-height: 1;
                margin-bottom: 8px;
                text-align: left;
                margin-left: 30px;
            }
            .malaysia_price {
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 60px;
                line-height: 1;
            }
            .malaysia_img {
                width: 197px;
                height: 190px;
                @include display(inline);
            }
        }
        .malaysia:hover {
            border-color: #ff9500;
            cursor: pointer;
        }
        // 日本卡
        .japan {
            width: 225px;
            height: 358px;
            float: left;
            margin-right: 16px;
            @include borderstyle(1px, solid, #fff);
            text-align: center;
            @include background-color(#fff);
            .japan_name {
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 8px;
                margin-left: 30px;
                line-height: 1;
            }
            .japan_content {
                font-size: 14px;
                color: #999;
                line-height: 1;
                margin-bottom: 8px;
                text-align: left;
                margin-left: 30px;
            }
            .japan_price {
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 45px;
                line-height: 1;
            }
            .japan_img {
                width: 197px;
                height: 190px;
                @include display(inline);
            }
        }
        .japan:hover {
            border-color: #ff9500;
            cursor: pointer;
        }
        // 美国卡
        .america {
            width: 225px;
            height: 358px;
            float: left;
            margin-right: 16px;
            @include borderstyle(1px, solid, #fff);
            text-align: center;
            @include background-color(#fff);
            .america_name {
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 8px;
                margin-left: 30px;
                line-height: 1;
            }
            .america_content {
                font-size: 14px;
                color: #999;
                line-height: 1;
                margin-bottom: 8px;
                text-align: left;
                margin-left: 30px;
            }
            .america_price {
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 45px;
                line-height: 1;
            }
            .america_img {
                width: 197px;
                height: 190px;
                @include display(inline);
            }
        }
        .america:hover {
            border-color: #ff9500;
            cursor: pointer;
        }
        // 韩国卡
        .korea {
            width: 225px;
            height: 358px;
            float: left;
            @include borderstyle(1px, solid, #fff);
            text-align: center;
            @include background-color(#fff);
            .korea_name {
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 8px;
                margin-left: 30px;
                line-height: 1;
            }
            .korea_content {
                font-size: 14px;
                color: #999;
                line-height: 1;
                margin-bottom: 8px;
                text-align: left;
                margin-left: 30px;
            }
            .korea_price {
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 60px;
                line-height: 1;
            }
            .korea_img {
                width: 197px;
                height: 190px;
                @include display(inline);
            }
        }
        .korea:hover {
            border-color: #ff9500;
            cursor: pointer;
        }
    }
}