@charset "utf-8";
$bigwidth:100%;
$mainwidth:1200px; //主内容宽
$l-s:list-style; //去除列表符号
$n:none;
$b:block;
$f:flex; //设置弹性盒
$t-d:text-decoration; //去除a标签下划线
$j-c:justify-content; //主轴的对齐方式
$a-i:align-items; //侧轴的对齐方式
$a-c:align-content; //行与行的排列方式
@mixin display($value) {
    display: $value;
}

@mixin background-color ($value) {
    background-color: $value;
} //设置背景颜色
@mixin borderstyle($style, $size, $color) {
    border: $style $size $color;
} //设置边框样式
@mixin positionleft($value, $left, $top) {
    position: $value;
    left: $left;
    top: $top;
} //定位左上
@mixin positionright($value, $right, $bottom) {
    position: $value;
    right: $right;
    bottom: $bottom;
} //定位右下
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

// 游戏道具
.yxdj {
    width: $bigwidth;
    height: 515.6px;
    @include background-color(#f7f7f7);
    // 游戏道具主部分
    .main_yxdj {
        width: $mainwidth;
        height: 485.6px;
        padding-top: 30px;
        margin: 30px auto 0;
        font-size: 100%;
        // 游戏道具标题
        .yxdj_title {
            height: 29.6px;
            margin-bottom: 20px;
            h1 {
                font-size: 20px;
                color: #303030;
                float: left;
            }
        }
        // 游戏道具类型
        .xydj_category {
            width: $mainwidth - 2;
            height: 58px;
            @include borderstyle(1px, solid, #e0e0e0);
            position: relative;
            font-size: 100%;
            div {
                width: 208px;
                height: 58px;
                position: absolute;
                float: left;
                a {
                    #{$t-d}: $n;
                    @include display($b);
                    text-align: center;
                    height: 58px;
                    line-height: 58px;
                    span {
                        font-size: 16px;
                        color: #333;
                        vertical-align: top;
                    }
                    img {
                        width: 40px;
                        margin-right: 15px;
                        @include display(inline);
                        margin-top: 3px;
                    }
                }
            }
            .bot {
                border-bottom: 2px solid #ff9501;
            }
            div:nth-of-type(2) {
                @include positionleft(absolute, 208px, 0);
            }
        }
        // 九阴真经道具
        .gameprops {
            width: $mainwidth;
            height: 360px;
            margin-top: 16px;
            position: relative;
            overflow: hidden;
            //图一
            .FIG {
                width: 227px;
                height: 360px;
                float: left;
                margin-right: 16px;
                text-align: center;
                cursor: pointer;
                @include background-color(#fff);
            }
            //道具列表
            .itemslist {
                float: left;
                margin-right: 16px;
                width: 225px;
                height: 358px;
                @include borderstyle(1px, solid, #fff);
                text-align: center;
                @include background-color(#fff);
                cursor: pointer;
                .itemslist_name {
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                    margin-top: 30px;
                    margin-bottom: 10px;
                    margin-left: 30px;
                    line-height: 1;
                }
                .itemslist_price {
                    font-size: 14px;
                    color: #f86a00;
                    text-align: left;
                    margin-bottom: 80px;
                    margin-left: 30px;
                    line-height: 1;
                }
                .itemslist_img {
                    width: 200px;
                    height: 185px;
                    margin: 0 auto;
                    overflow: hidden;
                    img {
                        width: 200px;
                        height: 185px;
                    }
                }
            }
            .itemslist:hover {
                border-color: #ff9500;
            }
            .itemslist:nth-of-type(5),
            .itemslist:nth-of-type(8) {
                height: 222px;
                margin-right: 0;
                .itemslist_price {
                    margin-bottom: 0px;
                }
                .itemslist_img {
                    width: 145px;
                    height: 145px;
                    img {
                        width: 145px;
                        height: 145px;
                    }
                }
            }
            // 查看全部
            .lookall {
                @include positionright(absolute, 0, 0);
                width: 226px;
                height: 118px;
                cursor: pointer;
                @include borderstyle(1px, solid, #fff);
                @include background-color(#fff);
                .all {
                    color: #333;
                    font-size: 22px;
                    @include positionleft(absolute, 40px, 38px);
                }
                .shop {
                    color: #666;
                    font-size: 14px;
                    width: 167px;
                    text-align: center;
                    @include positionleft(absolute, 0, 70px);
                }
                .plus {
                    width: 47px;
                    height: 47px;
                    position: absolute;
                    right: 40px;
                    top: 37px;
                    background-image: url(../img/图片3.png);
                    background-position: 0 -202px;
                }
            }
            .lookall:hover {
                border-color: #ff9500;
            }
        }
    }
}